.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #B08553;
}
.parent .centerbox{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border-radius: 10%;
    background-color: white;
}

.parent .centerbox .lock{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}
.parent .centerbox img{
    height: 100px;
    width: 100px;
    background-color: white;
}

.parent .centerbox .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parent .centerbox .email{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.parent .centerbox .email img{
    height: 32px;
    width: 40px;
}
.parent .centerbox .submit{
    display: flex;
    padding-top: 2%;
    justify-content: center;
}
.parent .centerbox .submit button{
    background-color: greenyellow;
    border-color: black;
}
.parent .centerbox .back{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.parent .centerbox .back a{
    color: black;
}
