nav {
  display: flex;
  height: 70px;
  background: #9F8170;
  gap: 80px;
}

nav .logo-container {
  height: 70px;
}

.section-container {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 10px;
}

nav .section-container li {
  display: flex;
  list-style: none;
  gap: 5px;
  padding: 20px;
}

nav .section-container li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-weight: 200;
  text-decoration: none;
}

nav .section-container li a:hover {
  color: #ffffff;
  transition: 0.5s;
  transition: 0.1s;
  text-transform: uppercase;
}

nav form {
  display: flex;
  align-items: center;
  width: 280px;
}

nav .inputbtt {
  display: flex;
  width: 280px;
}

nav .inputbtt .searchinput {
  display: flex;
  width: 220px;
  margin-bottom: 0px;
}

.inputbtt .search-bttn {
  position: relative;
  top: 5px;
  right: 30px;
  height: 25px;
  width: 20px;
  z-index: 999;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease ;
}

nav #sidebar {
  position: relative;
  height: auto;
  width: 200px;
}

nav #sidebar li {
  position: relative;
  list-style: none;
  font: 2em sans-serif;
}

.menubox {
  display: flex;
  width: 200px;
  justify-content: center;
}

.menubox button {
  display: flex;
  position: absolute;
  flex-direction: column;
  background: none;
  size: 30px;
  align-items: center;
  border: none;
  border-radius: none;
  top: 20px
}

.bars {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 200px;
  position: relative;
  background: #9F8170;
  top: 70px;
}

.menubox ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.menubox li {
  display: flex;
  list-style: none;
  padding: 0px 10px 0  10px;
  font-size: 25px;
  margin-bottom: 20px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #333;
}

.menubox li:hover {
  box-shadow: 0 0 10px 3px #222;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.menubox li a {
  color: #fff;
  font-weight: 100;
}

.menubox .fas.fa-bars{
  font-size: 30px;
}
.slide{
  height: 100vh;
}
