body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: montserrat;
    background-color:#b08553;
    height: 100vh;
    overflow:hidden;
    color: black;

}
.bigbox{
    display: flex;
    border: 10px color(black);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.username{
    font-display: flex;
    flex-direction: column;

}
.SIGN-IN{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.WELCOME{
    display: flex;
    color: white;
    background-color: orange;
}

.WELCOME-IMG .upscaling{
    display: flex;
    width: 100%;
    height: auto;
    max-width: 300px;
}
