
body {
    font-family: 'Arial', sans-serif;
    background-image: url("../assets/images/registrationbg.png");
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  
  .mainbox{
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 0 10px #333;
    padding: 2px;
    width: 900px;
    height: 565px;
    border: #333;
  }
  
  h2 {
    text-align: center;
    padding-bottom: 20px;
    color: #333;
    font-size: 30px;
  }

  .below{
    width: 759px;
    height: 470px;
     margin: 0;
    padding: 0;
  
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap:245px ;
    padding-left: 146px;
   
  }

  form .fecd{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 340px;
  }

  form .fecd .fname {
    display:flex ;
    flex-direction: column;

  }
  form .fecd .email {
    display:flex ;
    flex-direction: column;

  }
  form .fecd .confirmpassword {
    display:flex ;
    flex-direction: column;

  }
  form .fecd .date {
    display:flex ;
    flex-direction: column;
    


  }

  form .lpg{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    height: 340px;
  }

  form .lpg .lname {
    display:flex ;
    flex-direction: column;

  }
  form .lpg .password {
    display:flex ;
    flex-direction: column;

  }
  form .lpg .gender select {
    display:flex ;
    flex-direction: column;
    color: #000000;

  }
  
  label {
    font-size: larger;
    margin-bottom: 8px;
    color: #555;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000000;
  }

  .cs{
    padding-top: 50px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    background-color: #af724c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    padding: 5px;
    border-color: #000000;
  }
  
  button:hover {
    background-color: #af724c;

  }
  
  
  .cs .confirmbttn  button{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    
    
}

  .cs .signin button{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: blue;
    background-color: #fff;
  }
 