body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color: wheat;
    background-image: url('../assets/registrationbg.jpg');
}
h2{
  margin: 45px;
  display: flex;
  justify-content: center;
  font-size: 45px;

}

.mainbox{
    padding: 3px;
    width: 690px;
    height: 65vh;
    background: white;
}
.container{
    display: flex;
    border: 10px black;
    column-gap: 260px ;
    row-gap: 200px;
}
label {
    width: 100px;
}
.mainbox .cs{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fecd{
    max-width: 500px;
}
.lpg{


}
.container .fname{
    margin-top: 5px;
    padding: 10px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.container .lname{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: right;
    flex-direction: column;

}

.container .email{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.container .password{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: right;
    flex-direction: column;

}

.container .confirmpassword{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: left;
    flex-direction: column;

}

.container .gender{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.container .date{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: left;
    flex-direction: column;

}

.container .confirmbttn{
    margin: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;

}

.container .signin{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;

}

.container .fecd .confirmpassword label{
    width: 150px;
}


label .confirmpassword{
    width: 10px;
}
.confirmbttn{
    column-gap: 75px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.confirmbttn text{
    font-size: 100px;
}
.signin{
   
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.signin button{
    margin-left: 0px;
    padding: 3px;
}

.signin label{
    padding: 0px;
    width: 200px;
}
