
.app {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  
  .product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  .product-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  h3 {
    color: #333;
  }
  
  p {
    font-weight: bold;
    color: #B08553;
  }
  
  button {
    background-color: white;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color:#B08553;
  }
  