.hello{
    display: flex;
    flex-direction: column ;
    border: 1px solid #ccc; 
    padding: 10px; 
    margin: 10px;
    width: 200px; 
    height: 30vh;
    align-items: center;
}
.hello h3{
    display: flex;
    justify-content: center;
}
.hello button{
    display: flex;
    position: relative;
    justify-content: center;
    height: 10% ;
    top: 60px;
} 

.hello p {
    position: relative;
    top: 60px;
}

.containeroftheproduct{
    display: flex;
     flex-wrap: wrap;
    height: 100vh;
    justify-content: center ;
    align-items: center;
}